.titulo{
    margin: 2%;
    margin-bottom: 0%;
}
.mostrarPeliculas{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

