.linksFav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgPeliFav{
    width: 90%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    justify-content: center;
    height: 50vh;
}

.tituloPeli{
    color: #6a1b9a;
    margin-bottom: 10px;
    text-align: center;
}

.botonFavoritos{
    text-align: center;
    font-weight: bold;
    color: #8e44ad;
    cursor: pointer;
    padding: 15px 25px;
    background-color: #fff;
    border: 2px solid #8e44ad;
    border-radius: 25px;
    display: inline-block;
    margin: 20px auto 0;
    transition: background-color 0.3s, color 0.3s;
}

.botonFavoritos:hover{
    background-color: #8e44ad;
    color: #fff;
}