header {
    background-color: black;
    height:max-content;
    border: 3px solid rgba(57, 8, 103, 0.762);
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    align-self: center;
    display: grid;
    align-items: center;

}

.imgHeader {
    width: 50%;
    margin: 2%;
    justify-self: center;
}

.navListHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ulNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin: 0px;
    font-size: 1.5em;
}

.liNav {
    display: flex;
    height: auto;
    padding: 10% 15%;
    margin: 5% 15%;
    font-family: "Times new roman";
    color: aliceblue;
}

.liVerTodas{
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

a{
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: #C8A2C8;
}

@media (max-width: 900px) {
    .ulNav {
        flex-direction: column;
    }

    .liNav {
        padding: 5% 10%; 
        margin: 2% 5%; 
    }

    .navListHeader {
        flex-direction: column; 
    }

    .imgHeader {
        width: 80%; 
    }

    .logo {
        margin-bottom: 10px; 
    }
}