footer{
    background-color: black;
}

.lista-footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 1%;
    margin: 0%;
    color: white;
    font-size: medium;
    border: 3px solid rgba(57, 8, 103, 0.762);
}

.nombres{
    width: fit-content;
    border: 0px;
    margin: 0px 20px;
}

.logofooter{
    width: 8%;
}

@media(max-width: 420px) {
    .lista-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nombres{
        padding-bottom: 5px;
    }

}