.sectionDetalle{
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

.gifCargando{
    display: block;
    margin: 0 auto;
    width: 100px;
}

/* Responsive */

@media (max-width: 900px) {
    .sectionDetalle{
        margin: 3%;
    }
}